.deck {
	overflow: hidden;
	width: 300px;
	margin: 0 auto;
	padding: 30px 10px 10px 10px;

	&__unopened-cards-group {
		position: relative;
	}

	&__unopened-cards {
		position: absolute;
		left: 0;
		height: 50px;
		background: url(../../../../img/bg-card-back.png);
		background-size: cover;
	}

	&__card {
		margin-right: 10px;
		padding: 58px 10px;
		border: 1px solid #ccc;
		font-size: 40px;
		width: 100px;
		text-align: center;
		background-color: #FFF;
		font-weight: bold;
		border-radius: 5px;
		box-shadow: 0 0 5px #114727;
	}
}