.flex {
	display: flex;
}

.flex-justify-start {
	justify-content: flex-start;
}

.flex-justify-between {
	justify-content: space-between;
}

.flex-justify-center {
	justify-content: center;
}

.flex-direction-column {
	flex-direction: column;
}